/* INFOS PRA TODO SITE */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 20px;
}

p {
    font-size: 18px;
}

a {
    text-decoration: none;
}

/* HEADER/BANNER */

.banner {
    background: url(../img/banner-bg.png) center no-repeat;
    background-size: cover;
    max-width: 100%;
    height: 560px;
}

.banner__conteudo {
    padding: 260px;
    color: #fff;
    text-align: center;
}

.banner__titulo {
    font-size: 50px;
    margin-bottom: 30;
}

.banner__subtitulo {
    font-size: 24px;
}

/* BOTÃO */

.botao {
    background-color: #fff;
    color: #396A92;
    border-radius: 20px;
    text-transform: uppercase;
    padding: 10px 20px;
    font-weight: bold;
}

/* SOBRE MIM */

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1080px;
    margin-top: 90px;
}

.sobre-titulo {
    font-size: 40px;
    color: #C4C4C4;
}

.sobre {
    display: flex;
}

.sobre__descricao, .sobre__habilidades   {
    width: 50%;
    line-height: 30px;
    font-size: 17px;
}

.sobre__habilidades {
    margin-left: 70px;
}

.sobre__habilidades-lista {
    font-size: 18px;
}

.sobre__cv {
    border: 1px solid #396A92;
}

.redes-sociais {
    display: flex;
    justify-content: space-evenly;
}

.redes-sociais__link {
    background-color: #396A92;
    color: #fff;
    text-align: center;
    padding: 20px;
    width: 20%;
}

.copyright {
    color: black;
    margin-top: 50px;
    text-align: center;
}